{% extends 'base-back.html.twig' %}

{% block title %}Offres index{% endblock %}

{% block body %}
    <h1>Offres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.Type }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('offres_show', {'id': offre.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('offres_edit', {'id': offre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('offres_new') }}">Create new</a>

    {{ knp_pagination_render(offres) }}
{% endblock %}
